.clearfix:after, .navbar__list:after {
  content: "";
  display: table;
  clear: both;
}

.make-square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.small-boxshadow, .experience__row__item__square.open {
  box-shadow: 0px 0px 1px 1px #000000;
}

.default-boxshadow {
  box-shadow: 0px 0px 3px 1px #000000;
}

.pulse {
  display: block;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.65);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.65);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.65);
  }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(230, 37, 41, 0);
    box-shadow: 0 0 0 20px rgba(230, 37, 41, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(230, 37, 41, 0);
    box-shadow: 0 0 0 0 rgba(230, 37, 41, 0);
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Rajdhani", sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  overflow-x: hidden;
  font-size: 62.5%;
  min-height: 100vh;
}

.page-header {
  margin-top: 30vh;
}
.page-header__title {
  font-size: 8vw;
  margin: 0 8% 40vh 8%;
  font-family: "Orbitron", sans-serif;
  color: black;
}

.clearfix:after, .navbar__list:after {
  content: "";
  display: table;
  clear: both;
}

.navbar {
  height: 10vh;
  margin-top: 40px;
  position: fixed;
  top: 0;
  z-index: 100;
}
.navbar__list {
  width: 0%;
  transition: 0.4s;
  background-color: white;
  margin-left: 100px;
  z-index: 0;
  background: linear-gradient(225deg, transparent 23px, #fff 0) top right, linear-gradient(315deg, transparent 23px, #fbfbfb 0) bottom right;
  background-size: 100% 51%;
  background-repeat: no-repeat;
}
.navbar__list.menu-roll {
  width: 100%;
  max-height: 65px;
}
.navbar__list__link {
  color: black;
  display: none;
  float: left;
  margin-left: 90px;
  font-size: 1.5rem;
  cursor: pointer;
  min-width: 70px;
  text-align: center;
  line-height: 4.2rem;
}
.navbar__list__link.menu-roll {
  display: inline-block;
}
.navbar__list__link:hover {
  box-shadow: inset 0px -5px 0px 0px black;
}
.navbar__list__link a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
.navbar__list__link.active {
  box-shadow: inset 0px -5px 0px 0px black;
}
.navbar__list__item--right {
  float: right;
}

@media (max-width: 420px) {
  .navbar {
    height: unset;
  }
  .navbar__list {
    margin-left: 50px;
    padding-left: 27px;
  }
  .navbar__list__item, .navbar__list__item--right {
    margin-left: 30px;
  }
}
.bar-container {
  margin-top: 1px;
  margin-left: -25px;
  display: block;
  width: 35px;
  padding: 10px;
  z-index: 2;
  position: absolute;
  cursor: pointer;
}
.bar-container:hover {
  border: none;
}
.bar-container__background {
  background-color: black;
  height: 60px;
  width: 60px;
  transition: all 0.4s;
  position: absolute;
  margin-top: 1px;
  margin-left: 73px;
  transform: rotate(45deg);
  z-index: 1;
}
.bar-container__background.change {
  transform: rotate(135deg);
  background-color: white;
  box-shadow: 3px -3px 7px 0px #e8e8e8;
}
.bar-container__bar, .bar-container__bar--1, .bar-container__bar--2, .bar-container__bar--3 {
  width: 35px;
  height: 3px;
  margin: 8px 0;
  background-color: white;
  transition: 0.4s;
}
.bar-container__bar--1.change, .bar-container__bar--2.change, .bar-container__bar--3.change {
  background-color: black;
}
@media (max-width: 420px) {
  .bar-container {
    margin-left: -52px;
  }
  .bar-container__background {
    margin-left: 23px;
  }
}
.welcome {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-user-drag: none;
}
.welcome__zoom {
  transition: all 0.4s cubic-bezier(1, -0.02, 0.63, 0.99) !important;
  transform: rotate(315deg) translate(-50%, -50%) !important;
  width: 220vh !important;
  height: 220vh !important;
}
.welcome__zoom article {
  opacity: 0%;
}
.welcome__background {
  height: 110%;
  width: 110%;
  top: -5%;
  left: -5%;
  object-fit: cover;
  object-position: 50% 70%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: absolute;
  filter: blur(6px);
  -webkit-filter: blur(6px);
}
.welcome__pane, .welcome__reception {
  transform-origin: top left;
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 30vh;
  height: 30vh;
  transition: transform 0.2s ease-out;
}
.welcome__pane {
  background-color: aliceblue;
  transform: rotate(45deg) translate(-50%, -50%);
  box-shadow: 0px 0px 8px 1px #292929;
  cursor: pointer;
}
.welcome__pane:hover {
  transform: rotate(135deg) translate(-50%, -50%);
  box-shadow: inset 0px 0px 1px 10px black;
}
.welcome__pane__border-element {
  width: 101%;
  height: 101%;
  top: -0.5%;
  left: -0.5%;
  position: absolute;
}
.welcome__pane__border-element:hover {
  box-shadow: inset 0px 0px 1px 10px black;
}
.welcome__reception {
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
}
.welcome__reception__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.welcome__reception__content h1, .welcome__reception__content p {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.welcome__reception__content h1 {
  margin-bottom: 20px;
  font-size: max(4vw, 4vh);
}
.welcome__reception__content p {
  margin-bottom: 20px;
  font-size: max(1vw, 1vh);
}

.work-main {
  padding-top: 20vh;
}
.work__pair {
  background-color: black;
  width: 80vw;
  height: 40vw;
  margin: 0 auto;
  transform: rotate(-45deg);
  position: relative;
  z-index: 5;
  box-shadow: 0px 0px 3px 1px #000000;
}
.work__pair.non-first {
  left: -0.25%;
  margin-top: 15.8%;
  z-index: 3;
}
.work__pair-thumb.ipmedt2, .work__pair-thumb.iipmedt, .work__pair-thumb.ipmedt3, .work__pair-thumb.iclock_air {
  width: 48.5%;
  height: 96%;
  display: block;
  position: absolute;
  overflow: hidden;
  margin: 1%;
  transition: 0.4s;
}
.work__pair-thumb.ipmedt2.first-item, .work__pair-thumb.iipmedt.first-item, .work__pair-thumb.ipmedt3.first-item, .work__pair-thumb.iclock_air.first-item {
  right: 0;
}
.work__pair-thumb.ipmedt2:hover, .work__pair-thumb.iipmedt:hover, .work__pair-thumb.ipmedt3:hover, .work__pair-thumb.iclock_air:hover {
  transform: scale(1.05) rotate(45deg);
  filter: blur(3px);
  z-index: 10;
  cursor: pointer;
  outline: 15px solid #efefef;
}
.work__pair-thumb.ipmedt2:hover:before, .work__pair-thumb.iipmedt:hover:before, .work__pair-thumb.ipmedt3:hover:before, .work__pair-thumb.iclock_air:hover:before {
  transform: rotate(0deg);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.work__pair-thumb.ipmedt2:before {
  background: url(../../media/workThumbnails/ipmedt2.png) 0 0 no-repeat;
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  z-index: -1;
  background-size: cover;
  transition: 0.4s;
  transform: rotate(45deg);
}
.work__pair-thumb.iipmedt:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  z-index: -1;
  background: url(../../media/workThumbnails/iipmedt_1.jpeg) 0 0 no-repeat;
  background-size: cover;
  transition: 0.4s;
  transform: rotate(45deg);
}
.work__pair-thumb.ipmedt3:before {
  background: url(../../media/workThumbnails/ipmedt3.png) 0 0 no-repeat;
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  z-index: -1;
  background-size: cover;
  transition: 0.4s;
  transform: rotate(45deg);
}
.work__pair-thumb.iclock_air:before {
  background: url(../../media/workThumbnails/iclock_air.jpeg) 0 0 no-repeat;
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  z-index: -1;
  background-size: cover;
  transition: 0.4s;
  transform: rotate(45deg);
}
.work__pair__clickbait, .work__pair__clickbait.cb2, .work__pair__clickbait.cb4, .work__pair__clickbait.cb1, .work__pair__clickbait.cb3 {
  position: absolute;
  transform: rotate(45deg);
  top: 37%;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 50;
  opacity: 0;
  display: table;
  transition: 0.4s;
  pointer-events: none;
  height: 25%;
  width: 40%;
  font-size: 2rem;
}
.work__pair__clickbait h3, .work__pair__clickbait.cb2 h3, .work__pair__clickbait.cb4 h3, .work__pair__clickbait.cb1 h3, .work__pair__clickbait.cb3 h3 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.work__pair__clickbait.cb1, .work__pair__clickbait.cb3 {
  right: 5%;
}
.work__pair__clickbait.cb2, .work__pair__clickbait.cb4 {
  left: 5%;
}
.work__pair__clickbait.cb1.show, .work__pair__clickbait.cb2.show, .work__pair__clickbait.cb3.show, .work__pair__clickbait.cb4.show {
  opacity: 1;
}

.me-main {
  width: 60%;
  margin: 3% auto 0 auto;
  transform: rotate(-45deg);
  position: relative;
  z-index: 5;
}
.me-main:after {
  content: "";
  display: block;
  padding-bottom: 20%;
}
.me__container {
  width: 80%;
  background-color: white;
  box-shadow: inset 0px 0px 1px 20px black;
}
.me__container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.me__container__slides {
  transform: rotate(45deg);
  position: absolute;
  top: -5%;
  left: -5%;
  width: 90%;
  height: 90%;
}
.me__container__slides-info {
  margin-top: 10%;
  margin-left: 18%;
  width: 50%;
}
.me__container__slides-info__title {
  font-size: 5rem;
  max-width: 60%;
  text-align: center;
  margin-left: 37%;
  margin-bottom: 10%;
  color: black;
}
.me__container__slides-info p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.me__pictures {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
}
.me__pictures:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.me__pictures__image {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  overflow: hidden;
  transition: 0.4s;
  box-shadow: 0px 0px 8px 1px #292929;
}
.me__pictures__image.yaboi1:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  background: url(../../media/sittin.jpg) 0 0 no-repeat;
  background-size: cover;
  transition: 0.4s;
  transform: rotate(45deg);
}
.me__pictures__image.yaboi2:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  background: url(../../media/yaboi.jpg) 0 0 no-repeat;
  background-size: cover;
  transition: 0.4s;
  transform: rotate(45deg);
}
.me__pictures__image.yaboi3:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  background: url(../../media/mosterd.JPG) 0 0 no-repeat;
  background-size: cover;
  transition: 0.4s;
  transform: rotate(45deg);
}
.me__pictures__image:hover {
  transform: scale(1.05);
  z-index: 10;
  cursor: pointer;
}
.me__pictures__image:active {
  transform: scale(0.91);
}

@media (max-width: 1441px) and (min-width: 801px) {
  .me__container__slides-info {
    width: 55%;
  }
  .me__container__slides-info__title {
    font-size: 3rem;
  }
  .me__container__slides-info > p {
    font-size: 1rem;
  }
}
@media (max-width: 420px) {
  .me-main {
    width: 100%;
    margin-top: 260px;
  }
  .me-main:after {
    padding-bottom: 0;
  }
  .me__header {
    margin-top: 120px;
  }
  .me__container {
    width: unset;
    bottom: 0;
  }
  .me__pictures {
    top: -20%;
    bottom: unset;
    right: -20%;
  }
}
.experience-main {
  width: 1300px;
  margin: 0 auto 20vh auto;
}
.experience-header .page-header__title {
  margin: 0 8% 30vh 8%;
}
.experience-container {
  width: 100%;
  height: 100%;
}
.experience__row {
  display: flex;
  margin-bottom: 35px;
}
.experience__row__item {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 111px;
  position: relative;
}
.experience__row__item__square {
  width: 75%;
  height: 75%;
  background-color: black;
  transform: rotate(45deg);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  user-select: none;
}
.experience__row__item__square:hover {
  transform: scale(1.05);
}
.experience__row__item__square.open {
  background-color: #f3f3f3;
  width: 150%;
  height: 150%;
  border: 8px solid black;
  position: absolute;
}
.experience__row__item__square.open img {
  opacity: 50%;
}
.experience__row__item__square.open h3 {
  font-size: 2rem;
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.65);
  padding: 1px 5px;
  border-radius: 1px;
}
.experience__row__item__square.open:hover {
  transform: scale(1) rotate(45deg);
}
.experience__row__item__square__content {
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.experience__row__item__square__content-image {
  width: 75%;
  height: 75%;
  object-fit: contain;
}
.experience__row__item__square__content-image.github-logo {
  border-radius: 50%;
}
.experience__row__item__square__content-title {
  display: none;
}
.experience__row__item__square__content-toggle {
  color: #f3f3f3;
  font-size: 1rem;
  user-select: none;
}
.experience__row.even {
  flex-direction: row;
}
.experience__row.uneven {
  flex-direction: row-reverse;
}

/*# sourceMappingURL=main.css.map */
