@use "variables";

.bar-container{
  margin-top: 1px;
  margin-left: -25px;
  display: block;
  width: 35px;
  padding: 10px;
  z-index: 2;
  position: absolute;
  cursor: pointer;

  &:hover{
    border: none;
  }

  &__background{
    background-color: black;
    height: 60px;
    width: 60px;
    transition: all 0.4s;
    position: absolute;
    margin-top: 1px;
    margin-left: 73px;
    transform: rotate(45deg);
    z-index: 1;
  }

  &__background.change{
    transform: rotate(135deg);
    background-color: white;
    box-shadow: 3px -3px 7px 0px #e8e8e8;
  }

  &__bar{
    width: 35px;
    height: 3px;
    margin: 8px 0;
    background-color: white;
    transition: 0.4s;

    &--1,&--2,&--3{
      @extend .bar-container__bar;
      &.change{
        background-color: black;
      }
    }
  }

}

@media (max-width: variables.$phone_width ){
  .bar-container{
    margin-left: -52px;
    margin-top: 4px;
    width: 30px;
    padding: 2px 3px;

    &__bar{
        width: 100%;
        height: 2px;
        margin: 6px 0;
    }
    
    &__background{
      margin-left: 23px;
      height: 40px;
      width: 40px;
    }
  }
}
