@use 'variables';

.me{
  &__header{
    margin-top: 200px;

    &__title{
      font-size: 9rem;
      margin: 0 8%;
      font-family: 'Orbitron', sans-serif;
      color: variables.$primary_colour;
    } 
  }

  &-main{
    // background-color: crimson;
    width: 60%;
    margin: 3% auto 0 auto;
    transform: rotate(-45deg);
    position: relative;
    z-index: 5;

    &:after{
      content: "";
      display: block;
      padding-bottom: 20%;
    }
  }

  &__container{
    width: 80%;
    background-color: white;
    box-shadow: inset 0px 0px 1px 20px black;

    &:after{
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    &__slides{
      transform: rotate(45deg);
      position: absolute;
      top: -5%;
      left: -5%;
      width: 90%;
      height: 90%;

      &-info{
        margin-top: 10%;
        margin-left: 18%;
        width: 50%;

        &__title{
          font-size: 5rem;
          max-width: 60%;
          text-align: center;
          margin-left: 37%;
          margin-bottom: 10%;
          color: variables.$primary_colour;
        }

        & p{
          font-size: 1.2rem;
          margin-bottom: 20px;
        }
      }
    }
  }

  &__pictures{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    // background-color: purple;

    &:after{
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    &__image{
      width: 100%;
      height: 100%;
      // object-fit: cover;
      // object-position: 50% 50%;
      display: block;
      position: absolute;
      overflow: hidden;
      transition: .4s;
      box-shadow: 0px 0px 8px 1px #292929;

      &.yaboi1:before{
        content: "";
        position: absolute;
        width: 150%;
        height: 150%;
        top: -25%;
        left: -25%;
        background: url(../../media/sittin.jpg) 0 0 no-repeat;
        background-size: cover;
        transition: .4s;
        transform: rotate(45deg);
      }

      &.yaboi2:before{
        content: "";
        position: absolute;
        width: 150%;
        height: 150%;
        top: -25%;
        left: -25%;
        background: url(../../media/yaboi.jpg) 0 0 no-repeat;
        background-size: cover;
        transition: .4s;
        transform: rotate(45deg);
      }

      &.yaboi3:before{
        content: "";
        position: absolute;
        width: 150%;
        height: 150%;
        top: -25%;
        left: -25%;
        background: url(../../media/mosterd.JPG) 0 0 no-repeat;
        background-size: cover;
        transition: .4s;
        transform: rotate(45deg);
      }

      &:hover{
        transform: scale(1.05);
        // filter: blur(3px);
        z-index: 10;
        cursor: pointer;
        // outline: 15px solid #efefef;
        // box-shadow: inset 0px 0px 1px 10px black;

        &:before{
          // transform: rotate(-45deg);
          // height: 100%;
          // width: 100%;
          // top: 0;
          // left: 0;
        }
      }

      &:active{
        transform: scale(0.91);

        // &:hover{
        //   transform: rotate(180deg) scale(1.05);
        //   z-index: 10;
        //   cursor: pointer;
        // }
        //
        // &:before{
        //   // transform: rotate(225deg);
        // }
      }
    }
  }
}

.experience{
  margin: 18% auto;
  width: 80%;

  &__title{
    font-size: 8rem;
    margin: 0 8% 15% 8%;
    font-family: 'Orbitron', sans-serif;
    color: variables.$primary_colour;
  }

  &-item{
    width: 100%;
    height: 300px;
    margin-bottom: 300px;
    @extend .clearfix;

    &__figure{
      background-color: rgba(0,0,0,0.85);
      width: 300px;
      position: relative;
      overflow: hidden;
      float: left;
      transform: rotate(45deg);
      transition: .4s;
      cursor: pointer;

      &.toggleOn{
        transform: rotate(-45deg);
        background-color: rgba(0,0,0,1);
      }

      &:after{
        content: "";
        display: block;
        padding-bottom: 100%;
      }

      &>img{
        display: block;
        position: absolute;
        transition: 0.4s;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: rotate(-45deg);
        pointer-events: none;

        &.toggleOn{
          transform: rotate(45deg);
        }
      }
    }

    &__info{
      // padding: 30px 0;
      position: relative;
      height: 100%;
      width: 100%;
      // box-sizing: border-box;
      z-index: -1;

      &__frame{
        height: 80%;
        // position: absolute;
        top: 10%;
        left: 7%;
        width: 90%;
        background-color: darkslategray;
        position: relative;
        background: linear-gradient(135deg, transparent 85px, #fff 0) top left, linear-gradient(45deg, transparent 85px, #fff 0) bottom left, linear-gradient(225deg, transparent 85px, #fff 0) top right, linear-gradient(315deg, transparent 85px, #fff 0) bottom right;
        background-size: 51% 50.3%;
        background-repeat: no-repeat;

        &>h3{
          font-size: 5rem;
          top: 50%;
          left: 20%;
          position: absolute;
          transform: translateY(-50%);
          color: white;
        }

        &__benis{
          background: linear-gradient(135deg, transparent 85px, #151515 0) top left, linear-gradient(45deg, transparent 85px, #131313 0) bottom left, linear-gradient(225deg, transparent 85px, #151515 0) top right, linear-gradient(315deg, transparent 85px, #131313 0) bottom right;
          background-size: 51% 50.3%;
          background-repeat: no-repeat;
          height: 100%;
          width: 0; // 0
          transition: .4s;

          &.toggleOn.aframe{
            width: 75%;
          }
          &.toggleOn.arduino{
            width: 80%;
          }
          &.toggleOn.figma{
            width: 80%;
          }
          &.toggleOn.html5{
            width: 90%;
          }
          &.toggleOn.java{
            width: 40%;
          }
          &.toggleOn.javascript{
            width: 70%;
          }
          &.toggleOn.laravel{
            width: 50%;
          }
          &.toggleOn.python{
            width: 43%;
          }
          &.toggleOn.sass{
            width: 70%;
          }
        }
      }
    }
  }
}

// landscape smaller than HiDPI
@media (max-width: 1441px ) and (min-width: 801px) {
  .me__container__slides-info{
    width: 55%;

    &__title{
      font-size: 3rem;
    }

    &>p{
      font-size: 1rem;
    }
  }

  .experience-item{
    height: 200px;

    &__figure{
      width: 200px;
    }

    &__info__frame{
      left: 4%;
      width: 95%;

      &>h3{
        left: 22%;
        font-size: 3rem;
      }
    }
  }
}


// portrait smaller than pixel 2XL
@media (max-width: 420px){
  .me{
    &-main{
      width: 100%;
      margin-top: 260px;

      &:after{
        padding-bottom: 0;
      }
    }

    &__header{
      margin-top: 120px;
    }

    &__container{
      width: unset;
      bottom: 0;
    }

    &__pictures{
      top: -20%;
      bottom: unset;
      right: -20%;
    }
  }
}
