@use 'variables';
@use 'pulse';
@use 'setup';
@use 'nav-menu';
@use 'burger-menu';
@use 'index';
@use 'work';
@use 'me';

.page-header{
    margin-top: 30vh;
    
    &__title{
        font-size: 8vw;
        margin: 0 8% 70vh 8%;
        font-family: 'Orbitron', sans-serif;
        color: variables.$primary_colour;
      }
}

@media (max-width: variables.$hidpi_width ) and (min-width: variables.$tablet_width) {

}

@media (max-width: variables.$phone_width ){
   
}
