@import 'variables';

.bar-container{
  margin-top: 1px;
  margin-left: -25px;
  display: block;
  width: 35px;
  padding: 10px;
  z-index: 2;
  position: absolute;

  &:hover{
    border: none;
  }

  &__background{
    background-color: black;
    height: 60px;
    width: 60px;
    transition: 0.4s;
    position: absolute;
    margin-top: 1px;
    margin-left: 73px;
    transform: rotate(45deg);
    z-index: 1;
  }

  &__background.change{
    transform: rotate(135deg);
    background-color: white;
    box-shadow: 3px -3px 7px 0px #e8e8e8;
  }

  &__bar{
    width: 35px;
    height: 3px;
    margin: 8px 0;
    background-color: white;
    transition: 0.4s;

    &--1,&--2,&--3{
      @extend .bar-container__bar;
      &.change{
        background-color: black;
      }
    }

    // &--1.change{
    //   background-color: red;
    //   transform: rotate(-45deg) translate(-9px,6px);
    // }

    &--2{
      @extend .bar-container__bar;
    }

    // &--2.change{
    //   opacity: 0;
    // }

    &--3{
      @extend .bar-container__bar;
    }

    // &--3.change{
    //   background-color: red;
    //   transform: rotate(45deg) translate(-8px,-8px);
    // }
  }

}
