.clearfix:after, .experience-item:after {
  content: "";
  display: table;
  clear: both;
}

.me__header {
  margin-top: 200px;
}
.me__header__title {
  font-size: 9rem;
  margin: 0 8%;
  font-family: "Orbitron", sans-serif;
  color: #4a0000;
}
.me-main {
  width: 60%;
  margin: 3% auto 0 auto;
  transform: rotate(-45deg);
  position: relative;
  z-index: 5;
}
.me-main:after {
  content: "";
  display: block;
  padding-bottom: 20%;
}
.me__container {
  width: 80%;
  background-color: white;
  box-shadow: inset 0px 0px 1px 20px black;
}
.me__container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.me__container__slides {
  transform: rotate(45deg);
  position: absolute;
  top: -5%;
  left: -5%;
  width: 90%;
  height: 90%;
}
.me__container__slides-info {
  margin-top: 10%;
  margin-left: 18%;
  width: 50%;
}
.me__container__slides-info__title {
  font-size: 5rem;
  max-width: 60%;
  text-align: center;
  margin-left: 37%;
  margin-bottom: 10%;
  color: #4a0000;
}
.me__container__slides-info p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.me__pictures {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
}
.me__pictures:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.me__pictures__image {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  overflow: hidden;
  transition: 0.4s;
  box-shadow: 0px 0px 8px 1px #292929;
}
.me__pictures__image.yaboi1:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  background: url(../media/sittin.jpg) 0 0 no-repeat;
  background-size: cover;
  transition: 0.4s;
  transform: rotate(45deg);
}
.me__pictures__image.yaboi2:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  background: url(../media/yaboi.jpg) 0 0 no-repeat;
  background-size: cover;
  transition: 0.4s;
  transform: rotate(45deg);
}
.me__pictures__image.yaboi3:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  background: url(../media/mosterd.JPG) 0 0 no-repeat;
  background-size: cover;
  transition: 0.4s;
  transform: rotate(45deg);
}
.me__pictures__image:hover {
  transform: scale(1.05);
  z-index: 10;
  cursor: pointer;
}
.me__pictures__image:active {
  transform: scale(0.91);
}

.experience {
  margin: 18% auto;
  width: 80%;
}
.experience__title {
  font-size: 8rem;
  margin: 0 8% 15% 8%;
  font-family: "Orbitron", sans-serif;
  color: #4a0000;
}
.experience-item {
  width: 100%;
  height: 300px;
  margin-bottom: 300px;
}
.experience-item__figure {
  background-color: rgba(0, 0, 0, 0.85);
  width: 300px;
  position: relative;
  overflow: hidden;
  float: left;
  transform: rotate(45deg);
  transition: 0.4s;
  cursor: pointer;
}
.experience-item__figure.toggleOn {
  transform: rotate(-45deg);
  background-color: black;
}
.experience-item__figure:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.experience-item__figure > img {
  display: block;
  position: absolute;
  transition: 0.4s;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(-45deg);
  pointer-events: none;
}
.experience-item__figure > img.toggleOn {
  transform: rotate(45deg);
}
.experience-item__info {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.experience-item__info__frame {
  height: 80%;
  top: 10%;
  left: 7%;
  width: 90%;
  background-color: darkslategray;
  position: relative;
  background: linear-gradient(135deg, transparent 85px, #fff 0) top left, linear-gradient(45deg, transparent 85px, #fff 0) bottom left, linear-gradient(225deg, transparent 85px, #fff 0) top right, linear-gradient(315deg, transparent 85px, #fff 0) bottom right;
  background-size: 51% 50.3%;
  background-repeat: no-repeat;
}
.experience-item__info__frame > h3 {
  font-size: 5rem;
  top: 50%;
  left: 20%;
  position: absolute;
  transform: translateY(-50%);
  color: white;
}
.experience-item__info__frame__benis {
  background: linear-gradient(135deg, transparent 85px, #151515 0) top left, linear-gradient(45deg, transparent 85px, #131313 0) bottom left, linear-gradient(225deg, transparent 85px, #151515 0) top right, linear-gradient(315deg, transparent 85px, #131313 0) bottom right;
  background-size: 51% 50.3%;
  background-repeat: no-repeat;
  height: 100%;
  width: 0;
  transition: 0.4s;
}
.experience-item__info__frame__benis.toggleOn.aframe {
  width: 75%;
}
.experience-item__info__frame__benis.toggleOn.arduino {
  width: 80%;
}
.experience-item__info__frame__benis.toggleOn.figma {
  width: 80%;
}
.experience-item__info__frame__benis.toggleOn.html5 {
  width: 90%;
}
.experience-item__info__frame__benis.toggleOn.java {
  width: 40%;
}
.experience-item__info__frame__benis.toggleOn.javascript {
  width: 70%;
}
.experience-item__info__frame__benis.toggleOn.laravel {
  width: 50%;
}
.experience-item__info__frame__benis.toggleOn.python {
  width: 43%;
}
.experience-item__info__frame__benis.toggleOn.sass {
  width: 70%;
}

@media (max-width: 1441px) and (min-width: 801px) {
  .me__container__slides-info {
    width: 55%;
  }
  .me__container__slides-info__title {
    font-size: 3rem;
  }
  .me__container__slides-info > p {
    font-size: 1rem;
  }

  .experience-item {
    height: 200px;
  }
  .experience-item__figure {
    width: 200px;
  }
  .experience-item__info__frame {
    left: 4%;
    width: 95%;
  }
  .experience-item__info__frame > h3 {
    left: 22%;
    font-size: 3rem;
  }
}
@media (max-width: 420px) {
  .me-main {
    width: 100%;
  }
  .me-main:after {
    padding-bottom: 0;
  }
  .me__container {
    width: inherit;
    bottom: 0;
  }
  .me__pictures {
    top: 0;
    bottom: unset;
  }
}

/*# sourceMappingURL=_me.css.map */
