@import 'variables';
.clearfix{
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

.navbar{
  width: 25%;
  height: 10vh;
  margin-top: $default_y_gap*2;
  position: fixed;
  top: 0;
  z-index: 100;

  &-work.roll,&-profile.roll{
    display: inline-block;
  }

  &-work:hover,&-profile:hover{
    box-shadow: inset 0px -5px 0px 0px $primary_colour;
  }

  // &-profile.roll{
  //   display: inline-block;
  // }

  &__list{
    width: 0%;
    transition: 0.4s;
    background-color: white;
    margin-left: 100px;
    z-index: 0;
    background: linear-gradient(225deg, transparent 23px, #fff 0) top right, linear-gradient(315deg, transparent 23px, #fff 0) bottom right;
    background-size: 100% 51%;
    background-repeat: no-repeat;
    @extend .clearfix;

    &__item{
      color: black;
      display: none;
      float: left;
      margin-left: $default_x_gap*3;
      margin-top: 15px;
      font-size: 1.5rem;
      padding-bottom: 10px;
      cursor: pointer;
      min-width: 70px;
      text-align: center;
      line-height: 2.5rem;

      & a{
        color: inherit;
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
      }

      &.active{
        box-shadow: inset 0px -5px 0px 0px black;
      }

      &:hover{
      }
    }

    &__item--right{
      @extend .navbar__list__item;
      float: right;
    }

  }

  &__list.roll{
    width: 100%;
    max-height: 65px;
  }
}
