* {
  margin: 0;
  padding: 0;
  font-family: "Rajdhani", sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  width: auto;
  height: 100vh;
}

.welcome {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.welcome__background {
  height: 110%;
  width: 110%;
  top: -5%;
  left: -5%;
  object-fit: cover;
  object-position: 50% 70%;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  position: absolute;
}
.welcome__pane {
  transform-origin: top left;
  background-color: aliceblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(45deg) translate(-50%, -50%);
  width: 20%;
  box-shadow: 0px 0px 8px 1px #292929;
  cursor: pointer;
}
.welcome__pane:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.welcome__pane section {
  position: absolute;
  width: 101%;
  height: 101%;
  top: -0.5%;
  left: -0.5%;
}
.welcome__pane section:hover {
  box-shadow: inset 0px 0px 1px 10px black;
}
.welcome__reception {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  text-align: center;
  pointer-events: none;
  padding-bottom: 65px;
}
.welcome__reception h1, .welcome__reception p {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.welcome__reception h1 {
  margin-bottom: 35px;
  font-size: 4rem;
}
.welcome__reception p {
  margin-bottom: 10px;
}

.clearfix:after, .navbar__list:after {
  content: "";
  display: table;
  clear: both;
}

.navbar {
  width: 100%;
  height: 10vh;
  margin-top: 40px;
  position: fixed;
  top: 0;
  z-index: 100;
}
.navbar-work.roll, .navbar-profile.roll {
  display: inline-block;
}
.navbar-work:hover, .navbar-profile:hover {
  box-shadow: inset 0px -5px 0px 0px #4a0000;
}
.navbar__list {
  width: 0%;
  transition: 0.4s;
  background-color: white;
  margin-left: 100px;
  z-index: 0;
  background: linear-gradient(225deg, transparent 22px, #fff 0) top right, linear-gradient(315deg, transparent 22px, #fff 0) bottom right;
  background-size: 100% 51%;
  background-repeat: no-repeat;
}
.navbar__list__item, .navbar__list__item--right {
  color: black;
  display: none;
  float: left;
  margin-left: 90px;
  margin-top: 15px;
  font-size: 150%;
  padding-bottom: 10px;
  cursor: pointer;
  min-width: 70px;
  text-align: center;
  line-height: 2.5rem;
}
.navbar__list__item a, .navbar__list__item--right a {
  color: inherit;
  text-decoration: none;
}
.navbar__list__item--right {
  float: right;
}
.navbar__list.roll {
  width: 25%;
}

.bar-container {
  margin-top: 1px;
  margin-left: -25px;
  display: block;
  width: 35px;
  padding: 10px;
  z-index: 2;
  position: absolute;
}
.bar-container:hover {
  border: none;
}
.bar-container__background {
  background-color: black;
  height: 60px;
  width: 60px;
  transition: 0.4s;
  position: absolute;
  margin-top: 1px;
  margin-left: 73px;
  transform: rotate(45deg);
  z-index: 1;
}
.bar-container__background.change {
  transform: rotate(135deg);
  background-color: white;
  box-shadow: 3px -3px 7px 0px #e8e8e8;
}
.bar-container__bar, .bar-container__bar--1, .bar-container__bar--2, .bar-container__bar--3 {
  width: 35px;
  height: 3px;
  margin: 8px 0;
  background-color: white;
  transition: 0.4s;
}
.bar-container__bar--1.change, .bar-container__bar--2.change, .bar-container__bar--3.change {
  background-color: black;
}
.work-main {
  margin-top: 200px;
}
.work__header__title {
  font-size: 9rem;
  margin: 0 8%;
  font-family: "Orbitron", sans-serif;
}
.work__pair {
  background-color: black;
  width: 75%;
  margin: 20.4% auto 0 auto;
  transform: rotate(-45deg);
  position: relative;
  z-index: 5;
}
.work__pair:after {
  content: "";
  display: block;
  padding-bottom: 50%;
}
.work__pair.non-first {
  left: -0.25%;
  margin-top: 14.6%;
  z-index: 3;
}
.work__pair-thumb.ipmedt2, .work__pair-thumb.iipmedt, .work__pair-thumb.ipmedt3, .work__pair-thumb.ipmedt5 {
  width: 48.5%;
  height: 96%;
  display: block;
  position: absolute;
  overflow: hidden;
  margin: 1%;
  transition: 0.4s;
}
.work__pair-thumb.ipmedt2.first-item, .work__pair-thumb.iipmedt.first-item, .work__pair-thumb.ipmedt3.first-item, .work__pair-thumb.ipmedt5.first-item {
  right: 0;
}
.work__pair-thumb.ipmedt2:hover, .work__pair-thumb.iipmedt:hover, .work__pair-thumb.ipmedt3:hover, .work__pair-thumb.ipmedt5:hover {
  transform: scale(1.05) rotate(45deg);
  filter: blur(3px);
  z-index: 10;
  cursor: pointer;
  outline: 15px solid #efefef;
}
.work__pair-thumb.ipmedt2:hover:before, .work__pair-thumb.iipmedt:hover:before, .work__pair-thumb.ipmedt3:hover:before, .work__pair-thumb.ipmedt5:hover:before {
  transform: rotate(0deg);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.work__pair-thumb.ipmedt2:before {
  background: url(../media/workThumbnails/ipmedt2.png) 0 0 no-repeat;
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  z-index: -1;
  background-size: cover;
  transition: 0.4s;
  transform: rotate(45deg);
}
.work__pair-thumb.iipmedt:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  z-index: -1;
  background: url(../media/workThumbnails/iipmedt_1.jpeg) 0 0 no-repeat;
  background-size: cover;
  transition: 0.4s;
  transform: rotate(45deg);
}
.work__pair-thumb.ipmedt3:before {
  background: url(../media/workThumbnails/ipmedt3.png) 0 0 no-repeat;
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  z-index: -1;
  background-size: cover;
  transition: 0.4s;
  transform: rotate(45deg);
}
.work__pair-thumb.ipmedt5:before {
  background: url(../media/workThumbnails/ipmedt5.jpeg) 0 0 no-repeat;
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  z-index: -1;
  background-size: cover;
  transition: 0.4s;
  transform: rotate(45deg);
}
.work__pair__clickbait, .work__pair__clickbait.cb2, .work__pair__clickbait.cb4, .work__pair__clickbait.cb1, .work__pair__clickbait.cb3 {
  position: absolute;
  transform: rotate(45deg);
  top: 37%;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 50;
  opacity: 0;
  display: table;
  transition: 0.4s;
  pointer-events: none;
  height: 25%;
  width: 40%;
  font-size: 2rem;
}
.work__pair__clickbait h3, .work__pair__clickbait.cb2 h3, .work__pair__clickbait.cb4 h3, .work__pair__clickbait.cb1 h3, .work__pair__clickbait.cb3 h3 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.work__pair__clickbait.cb1, .work__pair__clickbait.cb3 {
  right: 5%;
}
.work__pair__clickbait.cb2, .work__pair__clickbait.cb4 {
  left: 5%;
}
.work__pair__clickbait.cb1.show, .work__pair__clickbait.cb2.show, .work__pair__clickbait.cb3.show, .work__pair__clickbait.cb4.show {
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
